@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue-color:#1DA1F2;
    --blue-secondary-color:#D7F5F5;
    --gray-color: #6B6B6B;
    --gray-secondary-color: #FBF8F3;
    --yellow-color: #FFB740;
    --salmon-color: #FBF8F3;
}

body{
    font-family: 'Inter', sans-serif;
}

.twitter-btn{
    background: var(--blue-color);
    border: none;
    border-radius: 3px;
    padding: 1rem 3rem;
}

.twitter-btn a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.twitter-btn a i{
    margin-right: 10px;
}

.main-background{
    background: var(--gray-secondary-color);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 7%;
}

.cabecalho-logo{
    color: var(--blue-color);
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 600;
}

.cabecalho .cabecalho-nav{
    display: flex;
    align-items: center;
    gap: 25px;
}

.cabecalho .cabecalho-nav a:not(.twitter-btn a){
    color: var(--gray-color);
    text-decoration: none;
    font-size: 1rem;
}

.hamburguer{
    width: 50px;
    height: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.hamburguer span{
    width: 50px;
    height: 2px;
    background: black;
}

.hamburguer.activeMenu span:nth-child(1){
    position: absolute;
    transform: rotate(45deg);
    transition: .5s;
    background-color: var(--blue-color);
}

.hamburguer.activeMenu span:nth-child(2){
    position: absolute;
    opacity: 0;
    transition: .5s;
}

.hamburguer.activeMenu span:nth-child(3){
    position: absolute;
    transform: rotate(-45deg);
    transition: .5s;
    background-color: var(--blue-color);
}

.conteudo-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 7%;
}

.conteudo-principal .container-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-items .container-items-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    max-width: 600px;
}

.container-items-text h1{
    font-size: 3rem;
}

.container-items-text .container-items-paragraph{
    color: var(--gray-color);
    line-height: 23px;
}

.container-items-text .container-items-btns{
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-items-text .container-items-btns a:nth-child(2){
    color: var(--blue-color);
    text-decoration: none;
    font-weight: 600;
}

.container-items-text .container-items-avatars{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
}

.container-items-text .container-items-avatars img{
    position: absolute;
    top: 20px;
}

.container-items-text .container-items-avatars img:nth-child(1){
    z-index: 9;
    left: 160px;
}

.container-items-text .container-items-avatars img:nth-child(2){
    z-index: 8;
    left: 140px;
}
.container-items-text .container-items-avatars img:nth-child(3){
    z-index: 7;
    left: 120px;
}
.container-items-text .container-items-avatars img:nth-child(4){
    z-index: 6;
    left: 100px;
}
.container-items-text .container-items-avatars img:nth-child(5){
    z-index: 5;
    left: 80px;
}
.container-items-text .container-items-avatars img:nth-child(6){
    z-index: 4;
    left: 60px;
}
.container-items-text .container-items-avatars img:nth-child(7){
    z-index: 3;
    left: 40px;
}
.container-items-text .container-items-avatars img:nth-child(8){
    z-index: 2;
    left: 20px;
}
.container-items-text .container-items-avatars img:nth-child(9){
    z-index: 1;
    left: 0;
}

.container-items-paragraph-2{
    color: var(--gray-color);
    line-height: 27px;
    max-width: 450px;
}

.container-items-paragraph-2 b{
    color: var(--blue-color);
}

.container-items-img{
    max-width: 440px;
}
.container-items-img img{
    width: 100%;
}

#tabletimg{
    display: none;
}

.features-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 50px 7%;
    background-color: #fff;
}

.features-section h2{
    font-size: 2rem;
}

.features-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.features-cards .features-card{
    border: 1px solid var(--gray-color);
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.features-card .emoji-icons{
    width: 30px;
}

.features-card h3{
    font-size: clamp(1rem,2vw,1.5rem);
}

.features-card p{
    font-size: clamp(0.7rem, 1.5vw, 1rem);
}

.customers-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7%;
    background-color: var(--blue-secondary-color);
}

.customers-block .customers-citation{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;

    width: 100%;
}

.customers-citation h2{
    font-size: 2rem;
}

.customers-citation .customers-cards{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-around
}

.customers-cards .customer-card{
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    gap: 20px;
}

.customer-card .avatar-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar-info .avatar-name-twitter{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.avatar-name-twitter .avatar-name{
    display: flex;
    flex-direction: column;
}

.avatar-name span{
    color:var(--gray-color);
}

.customer-card p{
    font-size: clamp(0.9rem,2vw,1rem);
    max-width: 300px;
    line-height: 25px;
    color: var(--gray-color);
}

.customer-card .miscellaneous-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.miscellaneous-info .heart-like{
    display: flex;
    align-items: center;
    gap: 7px;
}

.price-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
    background-color: #fff;
}

.price-section .price-titles{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.price-titles h2{
    font-size: 2rem;
}

.price-titles p{
    font-size:0.9rem;
    /* font-size: clamp(0.9rem,1.4,1rem); */
    max-width: 520px;
    text-align: center;
}

.price-section .price-block{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 2px solid var(--yellow-color);
    border-radius: 10px;
    background: var(--salmon-color);
    padding: 20px;
}

.price-block .price-value{
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-bottom: 1px solid var(--gray-color);
    padding: 13px;
}

.price-value span{
    color: var(--gray-color);
}

.price-value h3{
    font-size: 2.2rem;
}

.price-value h3 span{
    font-size: 1.3rem;
    font-weight: 500;
}

.price-block .price-info{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.price-info li{
    display: flex;
    align-items: center;
    max-width: 400px;
}

.price-info li img{
    margin-right: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue-secondary-color);
    padding: 20px 7%;
}

footer .footer-text{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-text a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width:768px){
    .container-items{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .container-items-text{
        max-width: 700px;
    }
    
    .container-items-img{
        width: 100%;
        max-width: 600px;
    }

    #tabletimg{
        display: block;
    }

    #desktopimg{
        display: none;
    }

    .features-cards{
        grid-template-columns: 1fr;
    }

    .customers-cards{
        flex-direction: column;
    }
}

@media screen and (max-width:540px){
    .cabecalho{
        position: relative;
    }

    .cabecalho-nav{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--blue-secondary-color);
        width: 100%;
        padding: 30px 0;
        left: -100%;
        max-width: 540px;
        top: 90px;
        transition: 1s;
    }

    .hamburguer{
        display: flex;
    }

    #desktopimg{
        display: block;
    }

    #tabletimg{
        display: none;
    }

    .container-items-text h1{
        font-size: clamp(20px,10vw,2.3rem);
    }

    .container-items-text .twitter-btn{
        padding: 20px;
    }

    .container-items-paragraph,
    .container-items-paragraph-2{
        font-size: 0.9rem;
    }

    .price-block{
        max-width: 340px;
    }

    footer{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    footer .footer-text{
        justify-content: space-between;
        width: 100%;
    }
}